PORT=8080
JWT_SECRET=change_this_to_a_long_random_secret
TOKEN_EXPIRES_IN=30d
SERVER_VERSION=8.3.5
MOTD_MESSAGE=The server is currently still in development. Version: 8.3.5. Best regards, Luigi_2026_
